<!DOCTYPE html>
<html>
<!-- extending javascripts and other page basic seetings -->
<% include partials/main.ejs %>

<body>
	<!-- extending navigation bar to this page -->
	<% include partials/main.ejs %>

	<!-- creating form to submit new booking -->
	<div id='createUpdateBooking'>
		<form action="/bookings" method="POST">
			<label>Booking Date</label><br>
			<input id='bdate' name="bdate" type="date"><br>
			<label>Patient Name</label><br>
			<select name="patients" id="patients">
				<% for(var i=0; i < data[1].length; i++) { %>
					<option value="<%= data[1][i].id%>"><%= data[1][i].patientName%></option>
					<%} %>
			</select><br>
			<label>Service</label><br>
			<select name="services" id="selectServices">
				<% for(var i=0; i < data[2].length; i++) { %>
					<option id="optService" data-cost="<%= data[2][i].cost%>" value="<%= data[2][i].id%>"><%= data[2][i].name%></option>
					<%} %>
			</select><br>
			<label>Doctor</label><br>
			<select name="doctors" id="doctors">
				<% for(var i=0; i < data[3].length; i++) { %>
					<option value="<%= data[3][i].id%>"><%= data[3][i].empName%></option>
					<%} %>
			</select><br>
			<label>Cost</label><br>
			<input id='cost' name="cost"><br>
			<label>Notes</label><br>
			<input id='notes' name="notes"><br>
			<label>Discount</label><br>
			<input id='discount' name="discount"><br>
			<label>Installments</label><br>
			<input id='installments' name="installments"><br>
			<button type="submit" style="margin-left: 165px">Submit</button>
		</form>
	</div>

	<!-- Listing all bookings -->
	<center>
	<div id="listBookings">
		<h2>Bookings</h2>
		<table id='bookingsTable' style="clear:both">
			<tr>
				<th>Booking Date</th>
				<th>Patient Name</th>
				<th>Service</th>
				<th>Doctor</th>
				<th>Cost</th>
				<th>Notes</th>
				<th>Discount</th>
				<th>Installments</th>
			</tr>
			<% for(var i=0; i < data[0].length; i++) { %>
				<tr>
					<td><%= data[0][i].bookingDate%></td>
					<td><%= data[0][i].patientName%></td>
					<td><%= data[0][i].serviceName%></td>
					<td><%= data[0][i].empName%></td>
					<td><%= data[0][i].cost%></td>
					<td><%= data[0][i].notes%></td>
					<td><%= data[0][i].discount%></td>
					<td><%= data[0][i].installments%></td>
				</tr>
			<%} %>
		</table>

	</div>
	</center>

	<script>
		// Populating the cost input field dynamically upon service selection
		$(document).ready(function(){
			$('#selectServices').on('change', function(){
				selElement = $('#selectServices :selected').attr('data-cost');
				$('#cost').val(selElement);
				console.log(selElement);
			})
		})
		</script>

</body>
</html>