<!DOCTYPE html>
<html>
<!-- extending javascripts and other page basic seetings -->
<% include partials/main.ejs %>

<body>
	<!-- extending navigation bar to this page -->
	<% include partials/main.ejs %>

	<!-- Page content -->
	<center>
	<div class="main">
		<h2>Today's Bookings</h2>
		<table id='homeTable'>
			<tr>
				<th>Booking ID</th>
				<th>Patient Name</th>
				<th>Service</th>
				<th>Doctor</th>
				<th>Payment</th>
				<th>Visit Date</th>
			</tr>
			<% for(var i=0; i < data.length; i++) { %>
				<tr>
					<td><%= data[i].bookingID%></td>
					<td><%= data[i].patientName%></td>
					<td><%= data[i].service%></td>
					<td><%= data[i].doctor%></td>
					<td><%= data[i].payment%></td>
					<td><%= data[i].visitDate%></td>
				</tr>
			<%} %>
		</table>
	</div>
	</center>
</body>
</html>
